
*, *:before, *:after {
  box-sizing: border-box;
}


/*****************
DEFAULT STYLES
*****************/


body{
    
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    max-width: 95%;
    background-color: rgb(234, 236, 237, 0.2)
}

img {
  max-width: 100%;
}

.logo{
  width: 10%;
  color: black;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 95%;
  width: 1024px;
  
}

.follow a{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
  font-family: 'lato', sans-serif;
  font-size: 1.2rem;
  color: #EAECED;
  transition: .3s ease-out;
  text-decoration: none;
}


.follow-click:hover i,
.follow-click:hover a {
  color: #FFADC2;
  position: relative; 
} 


ul{
  display: inline-block;
  padding: 0;
  list-style: none;
}

/*****************
HEADER STYLES
*****************/

header .container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}


/*****************
TYPOGRAPHY STYLES
*****************/

h1{ 
  font-family: 'Lato', sans-serif;
  font-size: 4.2rem;
  font-weight: 900;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: #353C46;
  margin-top: -16px;
  margin-bottom: 8px;
  
}

h3{
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  color: #353C46;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 0;
  padding-left: 3%;
  margin-top: 0;
}

.intro h2
{ color: #FECC91;
  text-align: center;
}

.work h2{
  color: #353C46;
  padding-top: 40px;
  text-align: center;
}

.follow h2{
  color: #FECC91;
  margin-top: 4%;
}

h4{
  font-size: 1rem;
  font-weight: 900;
  border-bottom: 1px solid rgb(228, 228, 228);
  margin-bottom:3%;
  font-family: 'lato', sans-serif;
}

h6{
  font-size: 0.7rem;
  color: grey;
  font-family: 'lato', sans-serif;
  margin-top: 0.3rem;
  padding-left: 3%;
  margin-bottom: 0;
}

p{
  font-size: 1.03rem;
  font-weight: 400;
  color: #353C46;
  text-align: center;
  line-height: 1.6rem;
}

.boldme {
  font-weight: 600;
}

.intro p{
  color: #EAECED;
  margin-top: 0px;
  text-align: center;
}

.myprocess p{
  color: #EAECED;
  margin-top: 0px;
  text-align: center;
}



.work p{
  color: #353C46;
  margin-top: 0px;
  text-align: center;
  
}

.myprocess h2{
  text-align: center;
  color: #FECC91;
}



.tools{
  column-count: 2;
  column-rule: 1px solid rgb(228, 228, 228);
}


footer p{
  font-family: 'lato', sans-serif;
  font-size: 0.9rem;
  color: rgb(234, 236, 237, 0.6);
  padding-left: 3%;
}

.portfolio p{
  color: #353C46;
  text-align: left;
  margin-top: 0px;
  font-size: 1.03rem;
}

.skillbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
}

.skill {
  font-size: 0.7rem;
  font-family: 'lato', sans-serif;
  border: rgb(151, 151, 151) solid 1px;
  border-radius: 8px;
  padding: 0.2rem 0.6rem;
  margin: 5px;
  text-transform: uppercase;
}



.about h2, p{
  text-align: left;
}

label{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #353C46;
}

/*****************
BUTTON STYLES
*****************/

.button{
  display: inline-block;
  margin-top: 24px;
  text-transform: uppercase;
  font: bold 16px lato, sans-serif;
  background: #FECC91;
  text-decoration: none;
  border-radius: 100px;
  color: #353C46;
  padding: 14px 20px;
  max-width: 320px;
  cursor: pointer;
  transition: all .3s ease-out;

  
}

.work .button{
  display: inline-block;
  margin-top: 24px;
  text-transform: uppercase;
  font: bold 16px lato, sans-serif;
  background: #FECC91;
  text-decoration: none;
  border-radius: 100px;
  color: #353C46;
  padding: 14px 20px;
  max-width: 320px;
  cursor: pointer;
  transition: all .3s ease-out;
  position: absolute;
  left: 6%;
  bottom: 6%;
  
}



.button:hover{
  background: #FFADC2;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.comingsoon{
  display: inline-block;
  margin-top: 24px;
  text-transform: uppercase;
  font: bold 16px lato, sans-serif;
  background: none;
  text-decoration: none;
  border: #EAECED solid 1px;
  border-radius: 100px;
  color: #EAECED;
  padding: 15px 23px 15px 23px;
  max-width: 320px;
  position: absolute;
  left: 6%;
  bottom: 3%;
  margin-bottom: 0;
}



/*****************
INTRO SECTION
*****************/

.main-banner{
  background: #353C46;
  padding: 30px 6.39535% 88px;
  margin-top: 3%;
}
.main-banner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-banner li {
  display: inline-block;
}

.main-banner li a {
  display: block;
  text-transform: uppercase;
  font-family: 'lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.main-banner li a:hover {
  color: #FFADC2;
  position: relative; 
  /* top: -2px; */
  
  
}



.intro {
width: 85%;
margin: auto;
text-align: center;
/* padding: 100px 0 40px 0; */
padding-top: 2%;
}

.headshot{
  display: block;
  border-radius: 100%;
  width: 19%;
  margin: 2% auto;
}

/*****************
ABOUT SECTION
*****************/


 .about{
    display: flex;
    
    
 }

.about .description{
  background: #EAECED;
  padding: 88px 6.39535%;
  width: 50%;
  margin: 3% 1.5% 3% 0;
}



.about .portrait {
  background: url(../images/Anita_AffinityMap.jpg) center;
  background-size: cover;
  margin: 3% 0% 3% 1.5%;
  width: 50%;
}

.aboutpoint{
  display: flex;
}

.about img{
  padding-right: 8%;
  max-width: 64px;
}

/*****************
MYPROCESS SECTION
*****************/

.myprocess{
  padding: 90px 10%;
margin-bottom: 3%;
background-color: #353C46;
}

.doublediamond{
  width:50%;
  margin: 0 auto;
  display: block;
  padding: 3% 0;
}

/*****************
WORK SECTION
*****************/

.work{
  background: #EAECED;
  padding: 30px 3%;
}

.portfolio{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.project{
  margin: 4% 2%;
  /* box-shadow: 0 10px 14px 0 rgba(0,0,0,0.05), 0 17px 50px 0 rgba(0,0,0,0.11); */
  background-color: white;
  width: 46%;
  position: relative;
  cursor: pointer;
  border: solid 1px lightgrey;
  border-radius: 4px;
  transition: all .3s ease-out;
}

.project:hover{
  
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.projecttext{

  padding: 3% 3% 100px;
}

.worktext{
  margin: 0 2%;
}


/*****************
CONTACT SECTION
*****************/



.contact{
  display: flex;
  flex-wrap: wrap;
  
}

.message{
  background: #EAECED;
  
  width: 48.5%;
  margin: 3% 1.5% 3% 0%;
}

input[type] {
  display: block;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
}

.social{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 48.5%;
  margin: 3% 0% 3% 1.5%;
  justify-content: flex-end;
}

.follow{
  display: flex;
  flex-direction: column;
  height: 35%;
  background: #353C46;
  flex-grow: 1;
  padding: 10% 0 7% 13%;
  
}

.follow-click{
  padding-bottom: 4%;
}

.icecream{
  background: url(../images/icecream.jpg) center;
  background-size: cover;
  height: 100%;
  padding-bottom: 3%;
}

.fab{
  display: flex;
  padding-right: 16px;
  padding-bottom: 16px;
  font-size: 180%;
  color: #EAECED;
}

.fa-arrow-right{
    
    
    padding-left: 10px;
  
}

#message{
  padding: 4%;
}



/*****************
FOOTER SECTION
*****************/

footer{
  background: #353C46;
  padding: 3% 0;
}

.footerbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footerbox .logo{
  max-width: 5%;
  margin-right: 3%;
}








@media only screen and (max-width: 750px) {

body{
  max-width: 100%;
}

/*****************
INTRO SECTION
*****************/
.logo{
  display: none;
}
.intro{
  padding-top:40px;
}

.main-banner{
  margin-top: 0;
}

.main-banner ul{
  display: none;
}

h1{
  line-height: 1.2;
}

h2{
  font-size: 2rem;
  line-height: 1.2;
  padding-top: 10%;
}



/*****************
ABOUT SECTION
*****************/
.about{
  display: flex;
  flex-direction: column;
}

.about .description{
  width: 100%;
  margin: 3% 0;
  padding: 10% 12%;
}

.about .portrait{
  margin: 0% 0% 3% 0%;
  width: 100%;
  
  height: 500px;
  
}

.about img{
  padding-right: 8%;
  max-width: 57px;
}

.myprocess{
  padding: 10% 12%;
}


.myprocess h2{
  text-align: left;
}
.myprocess p{
  text-align: left;
}

.doublediamond{
  width: 90%;
}

/*****************
WORK SECTION
*****************/

.work h2, .work p{
  text-align: left;
  padding: 0;
}

.project{
  width: 100%;
  margin: 4% 0;
  padding: 6% 6% 100px;
  
}

/*****************
CONTACT SECTION
*****************/

.message{
  width: 100%;
  margin: 3% auto;
  height: 100px;
}

.social{
  width: 100%;
  margin: auto;
}

.follow{
  padding: 0 10%;
  padding-bottom: 5%;
}

/*****************
FOOTER SECTION
*****************/

footer{
  background: none;
  padding: 3% 0;
}

footer p{
  color: rgb(53, 60, 70, 0.6);
  padding: 0;
}

.headshot{
  display: block;
  border-radius: 100%;
  width: 45%;
  margin: 2% auto;
}

.footerbox{
  padding: 0 8%;
}

.footerbox .logo{
  display: none;
}
}

