.blue-container {
  width: 100%;
  background-color: #242a34;
}

.layout-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}

.nav-container {
  display: flex;
  flex-flow: row;
}

/* TEXT STYLES */

h1 {
  font-size: 50px;
  color: #353c46;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 1.2em;
}

.highlight h1 {
  text-align: center;

  margin: 160px 0 0 0;
}

.next-text h1 {
  color: white;
  font-size: 40px;
  line-height: 1.3em;
  max-width: 80%;
}

h2 {
  font-size: 26px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0px;
  line-height: 1.4em;
}

h3 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.role-block h4 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ff0f87;
}

p {
  font-size: 16px;
  line-height: 27px;
  color: #353c46;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding-right: 40px;
  position: bottom;
}

.tile p,
.next-text p {
  color: white;
  font-family: "Montserrat", sans-serif;
}

#grey {
  color: grey;
  font-size: 11px;
  line-height: 1.4em;
}

.pink {
  font-size: 50px;
  color: #ff0f87;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 800px;
  /* line-height: 1.4em; */
}

.intro-h1-pink {
  font-size: 60px;
  color: #ff0f87;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 800px;
  line-height: 74px;
}

/* .intro-h1 {
  font-size: 60px;
  color: #ff0f87;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 800px;
  line-height: 74px;
} */

.intro-h1-pink {
  /* width: 70%; */
  animation-name: animation;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}

@keyframes animation {
  0% {
    color: #ff0f87;
  }
  25.0% {
    color: #9543b7;
  }
  50.0% {
    color: #01bfdb;
  }
  75.0% {
    color: #14d9bc;
  }

  100.0% {
    color: #ffe266;
  }
}

@keyframes animationbg {
  0% {
    background-color: #ff0f87;
  }
  25.0% {
    background-color: #9543b7;
  }
  50.0% {
    background-color: #01bfdb;
  }
  75.0% {
    background-color: #14d9bc;
  }

  100.0% {
    background-color: #ffe266;
  }
}

.intro-h1-white {
  color: white;
  font-size: 60px;
  max-width: 700px;
  hyphens: none;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: white; */
}

.contact ul {
  display: flex;
  flex-direction: column;
}

li {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* color: #353c46; */
  padding: 0 70px 0 0;
  list-style-type: none;
}

.contact li:hover {
  color: #ff0f87;
}

/*FLOURISH*/

.rectangle {
  height: 4px;
  width: 80px;
  background-color: #ff0f87;
  border-radius: 2px;
  margin-top: 30px;
}

#intro-rectangle {
  animation-name: animationbg;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}

.underline {
  height: 2px;
  width: 85px;
  background-color: #ff0f87;
  border-radius: 2px;
  margin-top: 10px;
}

.imgplaceholder {
  width: 100%;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 600px;
}

#svg {
  width: 40%;
  padding-left: 40px;
}

lottie-player {
  width: 700px;
  /* width: 100%; */
  overflow: hidden;
}

.lottie-container {
  max-width: 35%;
  overflow: hidden;
  height: 500px;
}
.logo {
  padding: 20px 70px 20px 0px;
  max-width: 80px;
  transition: 0.3s all;
  cursor: pointer;
}

/* BLOCKS */

#intro-block {
  padding: 12vw 0 12vw 0;
  display: flex;
}

.twocol-block {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  padding: 120px 0 0 0;
}

.left-block-bold {
  background-color: white;
  padding-right: 24px;
  /* min-width: 430px; */
  max-width: 48%;
}

.left-block-bold .rectangle {
  margin-bottom: 40px;
}

.right-block-text {
  flex-grow: 1;
  padding-left: 20px;

  padding-top: 20px;
  /* min-width: 200px; */
  max-width: 48%;
}

.tiles-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 120px 0 0 0;
}

.tile {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;

  max-width: 48%;
  height: 400px;
  margin: 0 0 40px 0;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  background-repeat: no-repeat;

  background-position: center;
}

#one {
  /* background-image: url(/images/User\ Profile_Monochromatic.svg); */
  background-color: #353c46;
}

.tile-img {
  max-width: 30%;
}

#two {
  /* background-image: url(/images/Piggy\ bank_Monochromatic.svg); */
  background-color: whitesmoke;
}

#three {
  background-image: url();
  background-color: whitesmoke;
}

#four {
  background-image: url();
  background-color: #353c46;
}

#five {
  background-image: url();
  background-color: #353c46;
}

#six {
  background-image: url();
  background-color: whitesmoke;
}

.tile-text {
  padding: 0 40px 40px 40px;
}

.tile-text:hover {
  cursor: pointer;
}

.right-image {
  padding-left: 20px;
  object-fit: cover;
}

img {
  width: 100%;
}

.topimg {
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 600px;
}

.role {
  margin: 160px 0 0 0;
}

.role-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.role-block {
  max-width: 33%;
  padding-top: 40px;
}

.next-block {
  background-color: #353c46;
  width: 100%;
}

.next-text {
  padding: 40px 0;
}

.text-bit {
  padding-top: 10px;
}

.contact {
  flex-direction: column;
  margin: 40px 0 100px 0;
  align-items: flex-start;
}

.contact li {
  padding: 10px 0;
  text-decoration: none;
  list-style-type: none;
}

.contact-block {
  margin: 120px 0;
}

#footer-block {
  margin-top: 160px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0 0 0;
  padding-bottom: 40px;
}

.footer .logo {
  padding: 0;
  width: 30px;
}

.fas {
  font-size: large;
  transition: 0.1s all;
  padding-left: 10px;
}
.fab {
  padding: 0 20px 0 0;
  font-size: large;
}

.button {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  transition: 0.1s;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* .button a {
  font-size: 16px;
  line-height: 27px;
  color: white;

  font-weight: 400;
  padding-right: 10px;
  transition: 0.3s;
} */

.next-text .button a {
  color: #ff0f87;
  font-weight: 600;
}

.next-text .button {
  display: block;
  color: #ff0f87;
}

.next-text:hover .fas {
  transform: translateX(4px);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.tile:hover {
  transform: scale(1.02);
}

#two .tile:hover .button a {
  color: #ff0f87;
}

.tile:hover .button {
  color: #ff0f87 !important;
}

/* .tile:hover #two .button a {
  color: #ff0f87;
} */

/*NAV STUFF*/

a {
  text-decoration: none;
  color: #353c46;
}

.nav a {
  color: white;
}

a:hover {
  color: #ff0f87;
}

.sticky-nav a:hover {
  color: #ff0f87;
}

.fixed-container {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s all;
  z-index: 100;
  height: 86px;
  /* background-color: white; */
}

#portfolio {
  background-color: white;
}

.sticky-nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-nav a {
  color: #353c46;
  text-decoration: none;
}

.sticky-nav .logo {
  padding: 20px 70px 20px 0px;
  max-width: 40px;
}

.skill-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  color: #353c46;
  border: 1px solid #353c46;
  border-radius: 15px;
  padding: 5px 16px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 5px 10px 5px 0;
}

#two p,
#two h2,
#two .button {
  color: #242a34;
}

#three p,
#three h2,
#three .button {
  color: #242a34;
}

#six p,
#six h2,
#six .button {
  color: #242a34;
}

@media screen and (max-width: 1200px) {
  .lottie-container {
    max-width: 45%;
  }
  .intro-h1,
  .intro-h1-white,
  .intro-h1-pink {
    font-size: 5.4vw;
    line-height: 1.2em;
  }
}

@media screen and (max-width: 1000px) {
  h1,
  .pink {
    font-size: 4.5vw;
    line-height: 1.2em;
  }

  .intro-h1,
  .intro-h1-white,
  .intro-h1-pink {
    font-size: 5.4vw;
    line-height: 1.2em;
  }

  h2 {
    font-size: 2.5vw;
    line-height: 1.4em;
  }

  .right-block-text {
    padding-top: 1.5vw;
  }

  /* .lottie-container {
    width: 45%;
  } */
  .role-block {
    max-width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .layout-container {
    margin: 0 auto;
    padding: 0 40px;
  }

  .twocol-block {
    flex-wrap: wrap;
    padding: 60px 0 0 0;
  }

  .imgplaceholder {
    margin-top: 60px;
  }

  .left-block-bold {
    padding-right: 0px;
    min-width: 100%;
  }

  .right-block-text {
    padding-left: 0px;
    min-width: 100%;
  }

  .intro-h1,
  .intro-h1-white,
  .intro-h1-pink,
  .pink {
    font-size: 34px;
    line-height: 1.4em;
  }

  h1 {
    font-size: 34px;
    line-height: 1.4em;
  }

  h2 {
    font-size: 24px;
  }

  p {
    padding-right: 10px;
  }

  .pink {
    margin-bottom: 25px;
  }

  .nav {
    padding: 0 40px;
  }

  .tile {
    min-width: 100%;
  }

  #intro-block {
    padding: 80px 0;
  }

  .tiles-block {
    padding: 60px 0 0 0;
  }

  .role-block {
    max-width: 100%;
  }

  .right-image {
    padding-top: 40px;
    padding-left: 0px;
    height: 270px;
  }

  .rectangle {
    height: 3px;
    width: 40px;
  }

  lottie-player {
    display: none;
  }

  .lottie-container {
    display: none;
  }

  #svg {
    display: none;
  }

  .logo {
    max-width: 50px;
  }

  .fixed-container li {
    display: none;
  }

  .mobile-logo {
    display: block;
    max-width: 50px;
  }

  .sticky-nav {
    position: relative;
  }

  .fixed-container {
    position: relative;
  }
  #intro-block {
    flex-direction: column;
  }
}
